.input {
  padding: 4px 16px;
  width: 98%;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  caret-color: var(--main-green);
}
.input:focus {
  /* outline: 0; */
  outline: 1px solid var(--main-green);
  box-shadow: 0;
}
.container {
  width: 98%;
  display: flex;
  justify-content: flex-end;
  margin: 0 12px;
  position: relative;
}
.button svg{
  font-size: 20px;
  cursor: pointer;
}
.results{
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  width: 98%;
  z-index: 40;
  padding: 40px 8px 16px 8px;
  margin: 0 auto;
  background-color: #fff;
  overflow-y: auto;
}
@media only screen and (max-width: 639px) {
  .results {
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .input {
    position: fixed;
    z-index: 50;
    left: 50%;
    top: 10px;
    max-width: 0%;
    margin: 0 auto;
    transform: translateX(-50%);
    transition: var(--transition);
    /*display: none;
    */opacity: 0;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-transition: var(--transition);
}
}
@media only screen and (min-width: 640px) {
  .container {
    /* max-width: 600px; */
    width: 98%;
  }
  .results {
    position: absolute;
    top: 50%;
    right: 0;
    /* transform: translateX(-50%); */
  }
  .input {
    /* margin-left: 12px; */
    z-index: 50;
  }
  .button {
    opacity: 0.5;
    position: absolute;
    top: 50%;
    right: 8px;
    z-index: 60;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 400px;
    width:98%;
  }
}
@media only screen and (min-width: 850px) {
  .container {
    max-width: 500px;
    width:98%;
  }
}

/* 
.desktop {
  min-width: 60%;
}
.desktop svg {
  color: var(--text-light);
}

.desktop input::placeholder {
  color: var(--text-light);
}
.desktop input {
  color: var(--text-dark);
  letter-spacing: 1px;
}

.mobileSearchBar {
  position: absolute;
  background-color: var(--main-green);
  width: 100vw;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  border: 8px solid #fff;
  padding: 8px;
  z-index: 50;
}
.mobileSearchBar div:nth-child(1) {
  width: 100%;
  position: relative;
  height: auto;
  min-height: 28px;
  padding-bottom: 1rem;
}
.mobileSearchBar div:nth-child(2) {
  position: relative;
}
.mobileSearchBar div:nth-child(2) button {
  overflow: hidden;
  background-color: var(--dark-green);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 0;
  padding: 8px;
  color: #fff;
  font-size: 18px;
  border-radius: 0 2rem 2rem 0;
  -webkit-border-radius: 0 2rem 2rem 0;
  -moz-border-radius: 0 2rem 2rem 0;
  -ms-border-radius: 0 2rem 2rem 0;
  -o-border-radius: 0 2rem 2rem 0;
}  */
