.input {
  padding: 4px 16px;
  width: 98%;
  z-index: 50;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  caret-color: var(--main-green);
}
.input:focus {
  /* outline: 0; */
  outline: 1px solid var(--main-green);
  box-shadow: 0;
}
.container {
  width: 98%;
  display: flex;
  justify-content: flex-end;
  margin: 0 12px;
  position: relative;
}
.button svg{
  font-size: 20px;
  cursor: pointer;
}
.results{
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  width: 98%;
  z-index: 40;
  padding: 40px 8px 16px 8px;
  margin: 0 auto;
  background-color: var(--bg-white);
  overflow-y: auto;
  transform: translateY(-1000px);
  -webkit-transform: translateY(-1000px);
  -moz-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  -o-transform: translateY(-1000px);
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}
@media only screen and (max-width: 639px) {
  .results {
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%) translateY(-1000px);
    -webkit-transform: translateX(-50%) translateY(-1000px);
    -moz-transform: translateX(-50%) translateY(-1000px);
    -ms-transform: translateX(-50%) translateY(-1000px);
    -o-transform: translateX(-50%) translateY(-1000px);
}
  .input {
    position: fixed;
    z-index: 50;
    left: 50%;
    top: 10px;
    max-width: 0%;
    margin: 0 auto;
    transform: translateX(-50%);
    transition: var(--transition);
    /*display: none;
    */opacity: 0;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-transition: var(--transition);
}
}
@media only screen and (min-width: 640px) {
  .container {
    /* max-width: 600px; */
    /* width: 98%; */
    position: relative;
  }
  .results {
    position: absolute;
    top: 50%;
    right: 0;
    /* transform: translateX(-50%); */
  }
  
  .button {
    opacity: 0.5;
    position: absolute;
    top: 50%;
    right: 8px;
    z-index: 60;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 400px;
    width:98%;
  }
}
@media only screen and (min-width: 850px) {
  .container {
    max-width: 500px;
    width:98%;
  }
}


.results a{
 border-bottom: 1px solid var(--main-green);
}
.results a:last-child{
  border-bottom:none;
} 
.results a:nth-child(2){
  border-bottom: 1px solid var(--main-green);
} 