.container {
  border-radius: var(--radius);
}
.container:hover img {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  opacity: .9;
}
.image,
.image img {
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  max-height: 340px;
  max-width: 320px;}
.info hr {
  margin: auto 2px;
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: var(--text-light);
}
.current:hover,.other:hover{
  transition: var(--transition);
  opacity: .9;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.other {
  border-bottom: 2px solid var(--text-light);
}
.current {
  border-bottom: 3px solid var(--main-green);
}
.current .name {
  color: var(--main-green);
  font-weight: bold;
  font-size: 18px;
}
.current * {
  opacity: 1;
}
.container hr {
  margin: auto 4px;
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: var(--text-dark);
}