.container {
  border-radius: var(--radius);
}
.image,
.image img {
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  max-height: 340px;
  max-width: 320px;}
.info hr {
  margin: auto 2px;
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: var(--text-light);
}

.other {
  border-bottom: 2px solid var(--text-light);
}
.current {
  border-bottom: 3px solid var(--main-green);
}
.current .name {
  color: var(--main-green);
  font-weight: bold;
  font-size: 18px;
}
.current * {
  opacity: 1;
}
