.container a {
  color: var(--text-dark);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.container a:hover {
  color: var(--main-green) !important;
  cursor: pointer;
}
.image,
.image img {
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}
.image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0.05) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    );
 
}

.info {
  z-index: 20;
}
hr.smallLine {
  height: 12px;
  width: 2px;
  background-color: var(--main-green);
}


.statusContainer{
  clip-path: polygon(17% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: var(--bg-body);

}

.status {
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  background-color: var(--main-green);
  padding: 1px 12px;
  width: fit-content;
}

.option {
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.option:hover {
  color: var(--main-green) !important;
}

/* media queries */
@media only screen and (min-width: 340px) {
  .container small {
    font-size: 14px;
  }
  .image small {
    font-size: 16px;
  }
}

.background {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container{
    position: relative;
  }
  .background {
    display: block;
    position: absolute;
    overflow: visible;
    top: 0;
    width: 100%;
    height: 340px;
    max-width: 900px;
    margin: auto;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
  }
  .background img {
    opacity: 0.7;
  }

  .imageContainer {
    margin-top: 240px;
    height: 240px;
    width: 170px;
    margin-left: 5%;
    margin-bottom: 3rem;
  }
  .image {
    overflow: visible;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
  }
  .image::after {
    display: none;
  }
  .image img {
    border-radius: var(--radius);
  }

  .title {
    color: var(--text-dark);
    left: 180px;
    bottom: 65px;
    min-width: 340px;
  }
  .detail {
    left: 180px;
    bottom: 10px;
    min-width: 340px;
  }
  .options {
    justify-content: center;
  }
  .status {
    background-color: var(--main-green);
    color: #fff;
  }
}

@media only screen and (min-width: 820px) {
  .title {
    min-width: 400px;
  }
  .detail {
    min-width: 400px;
  }
}
@media only screen and (min-width: 1024px) {
  .background{
    left: 0;
  }
  .imageContainer {
    margin-top: 240px;
    height: 260px;
    width: 180px;
    margin-left: 5%;
    margin-bottom: 3rem;
  }
  .title {
    min-width: 560px;
        left: 190px;

  }
  .detail {
    min-width: 560px;
        left: 190px;

  }
  .background {
    height: 420px;
  }
  .imageContainer {
    margin-top: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  .title {
    min-width: 650px;
  }
  .detail {
    min-width: 650px;
  }
}
@media only screen and (min-width: 1280px) {
  .background{
    left: 150px;
  }
}
