.header {
  background-color: var(--bg-body);
}
.icons {
  color: var(--text-dark);
  font-size: 18px;
}

.icons div {
  padding: 4px;
  cursor: pointer;
  transition: var(--transition);
  border: 1px solid var(--text-dark);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.icons div:hover {
  color: var(--main-green);
  border: 1px solid var(--main-green);
}
.header {
  /* overflow-x: hidden; */
  max-height: 60px;
}

.menuBarContainer div:first-child {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  position: absolute;
}
.menuBarContainer div:last-child {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transition: var(--transition);
  position: absolute;
}
.menuBarContainer div:nth-child(2) {
  opacity: 0;
  transition: var(--transition);
}
.menuBarContainerLine div:first-child {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  /* position: absolute; */
}
.menuBarContainerLine div:last-child {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transition: var(--transition);
  /* position: absolute; */
}
.menuBarContainerLine div:nth-child(2) {
  opacity: .8;
  transition: var(--transition);
}
