.current {
  box-shadow: var(--box-shadow);
  z-index: 20;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.prev {
  z-index: 10;
  opacity: 0.8;
  transform: translateX(-40px) scale(0.9);
  -webkit-transform: translateX(-40px) scale(0.9);
  -moz-transform: translateX(-40px) scale(0.9);
  -ms-transform: translateX(-40px) scale(0.9);
  -o-transform: translateX(-40px) scale(0.9);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.next {
  z-index: 10;
  opacity: 0.8;
  transform: translateX(40px) scale(0.9);
  -webkit-transform: translateX(40px) scale(0.9);
  -moz-transform: translateX(40px) scale(0.9);
  -ms-transform: translateX(40px) scale(0.9);
  -o-transform: translateX(40px) scale(0.9);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}


.prev2 {
  z-index: 5;
  opacity: 0.7;
  transform: translateX(-80px) scale(0.8);
  -webkit-transform: translateX(-80px) scale(0.8);
  -moz-transform: translateX(-80px) scale(0.8);
  -ms-transform: translateX(-80px) scale(0.8);
  -o-transform: translateX(-80px) scale(0.8);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}


.next2 {
  z-index: 5;
  opacity: 0.7;
  transform: translateX(80px) scale(0.8);
  -webkit-transform: translateX(80px) scale(0.8);
  -moz-transform: translateX(80px) scale(0.8);
  -ms-transform: translateX(80px) scale(0.8);
  -o-transform: translateX(80px) scale(0.8);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}


@media only screen and (min-width: 768px) {
  .prev {
    transform: translateX(-80px) scale(0.9);
    -webkit-transform: translateX(-80px) scale(0.9);
    -moz-transform: translateX(-80px) scale(0.9);
    -ms-transform: translateX(-80px) scale(0.9);
    -o-transform: translateX(-80px) scale(0.9);
  }
  .next {
    transform: translateX(80px) scale(0.9);
    -webkit-transform: translateX(80px) scale(0.9);
    -moz-transform: translateX(80px) scale(0.9);
    -ms-transform: translateX(80px) scale(0.9);
    -o-transform: translateX(80px) scale(0.9);
}
  .prev2 {
    transform: translateX(-140px) scale(0.8);
    -webkit-transform: translateX(-140px) scale(0.8);
    -moz-transform: translateX(-140px) scale(0.8);
    -ms-transform: translateX(-140px) scale(0.8);
    -o-transform: translateX(-140px) scale(0.8);
}
  .next2 {
    transform: translateX(140px) scale(0.8);
    -webkit-transform: translateX(140px) scale(0.8);
    -moz-transform: translateX(140px) scale(0.8);
    -ms-transform: translateX(140px) scale(0.8);
    -o-transform: translateX(140px) scale(0.8);
}
}
@media only screen and (min-width: 1024px) {
  .prev {
    transform: translateX(-90px) scale(0.9);
    -webkit-transform: translateX(-90px) scale(0.9);
    -moz-transform: translateX(-90px) scale(0.9);
    -ms-transform: translateX(-90px) scale(0.9);
    -o-transform: translateX(-90px) scale(0.9);
  }
  .next {
    transform: translateX(90px) scale(0.9);
    -webkit-transform: translateX(90px) scale(0.9);
    -moz-transform: translateX(90px) scale(0.9);
    -ms-transform: translateX(90px) scale(0.9);
    -o-transform: translateX(80px) scale(0.9);
}
  .prev2 {
    transform: translateX(-160px) scale(0.8);
    -webkit-transform: translateX(-160px) scale(0.8);
    -moz-transform: translateX(-160px) scale(0.8);
    -ms-transform: translateX(-160px) scale(0.8);
    -o-transform: translateX(-160px) scale(0.8);
}
  .next2 {
    transform: translateX(160px) scale(0.8);
    -webkit-transform: translateX(160px) scale(0.8);
    -moz-transform: translateX(160px) scale(0.8);
    -ms-transform: translateX(160px) scale(0.8);
    -o-transform: translateX(160px) scale(0.8);
}
}
ul.detail li{
  display: flex;
  align-items: center;
   gap: 4px;
}
ul.detail .devider{
  background-color: var(--main-green);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
