.navbar {
  background-color: var(--bg-white);
  width: 250px;
  position: fixed;
  top: 55px;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 54px);
  padding: 1rem;
  text-align: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
@media only screen and (max-height:580px) {
  .navbar{
    min-height:220px;
    overflow-x: scroll;
  }
}

.navbar .navLinks {
  margin-top: 1rem;
  gap: 1.2rem;
}

.navbar a:hover p {
  color: var(--text-dark);
}
.active a:hover p {
  color: var(--main-green);
}
.navbar .navLinks li a {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* .navbar .navLinks li a:hover {
  transform: translateX(2px);
  -webkit-transform: translateX(2px);
  -moz-transform: translateX(2px);
  -ms-transform: translateX(2px);
  -o-transform: translateX(2px);
} */
.navbar .social li a:hover {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.navbar .navLinks li :last-child {
  margin-top: auto;
  border-top: 1px solid #c3d2cb;
  padding-top: 4px;
}
.navbar .social {
  margin-top: auto;
  margin-bottom: 2px;
  border: none !important;
}
.navbar .social ul {
  gap: 4px;
}
.navbar .social ul li {
  font-size: 24px;
  margin-top: auto;
  border: none !important;
}

.active *{
  color: var(--main-green);
}
.active p{
  position: relative;
}
.active p::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 110%;
    top: 60%;
  transform: translate(0,-50%);
  z-index: 5;
  background-color: var(--main-green);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
}


.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 8px auto;
}
.user div {
  background-color: var(--text-light) !important;
  border: 1px solid #c3d2cb;
  margin: 4px auto;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

@media only screen and (max-width: 640px) {
  .navbar {
    top: 50px;
    height: calc(100vh - 50px);
  }
}
@media only screen and (max-width: 768px) {
  .hide{
    display: flex;
    opacity: 0;
    transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -o-transform: translateX(-100vw);
  }
  
  .show{
    display: flex;
    opacity: 1!important;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@media only screen and (min-width: 768px) {
  .navbar{
    width: 200px;
    top: 56px;
    background-color: transparent;
    height: calc(100vh - 56px);
}
  .navbar .navLinks li :last-child {
    margin-top: auto;
    border-top: 1px solid var(--text-light);
    padding-top: 4px;
  }
  .divider{
    position: absolute;
    right: 0;
    top: 50%;
    transform:translateY(-50%);
    width: 2px;
    height: 80%;
    background-color: var(--text-light);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
}
}
