.container {
  width: 100%;
  height: 310px;
  max-width: 180px !important;
  overflow: hidden;
  padding: 12px;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.container:hover {
  box-shadow: none;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}
.container:hover img {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  opacity: .9;
}

.image {
  width: 100%;
  height: 75% !important;
  overflow: hidden;
  margin: auto;
  border-radius: 4px var(--radius) var(--radius);
  -webkit-border-radius: 4px var(--radius) var(--radius);
  -moz-border-radius: 4px var(--radius) var(--radius);
  -ms-border-radius: 4px var(--radius) var(--radius);
  -o-border-radius: 4px var(--radius) var(--radius);
}

.info {
  height: 25%;
}
.info small {
  font-size: 11px;
}
.info small hr {
  margin: auto 4px;
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: var(--text-dark);
}

.rate {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  bottom: 75px;
  right: 5px;
}
