/* .slider {
  background: rgb(13, 13, 13);
  background: radial-gradient(
    circle,
    rgba(13, 13, 13, 0.742734593837535) 0%,
    rgba(13, 13, 13, 0) 40%,
    rgba(65, 65, 65, 0) 100%
  );
} */
/* .info{
    position: absolute;
    color: #fff;
    z-index: 12;
    left: 0%;
    top: 2%;
    animation:fade .5s ease-out ;
    -webkit-animation:fade .5s ease-out ;
}
@keyframes fade {
  0%{
    opacity: 0;
    left: 0%;
  }
  100%{
    opacity: 1;
    left: 2%;
  }
} */

/* .info{
  position: absolute;
  color: #fff;
  z-index: 12;
  left: 0%;
  top: 2%;
  opacity: 1;
  transform: translateX(16px);
  transition: var(--transition);
  animation:fade .5s ease-out ;
  -webkit-animation:fade .5s ease-out ;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  -webkit-transform: translateX(16px);
  -moz-transform: translateX(16px);
  -ms-transform: translateX(16px);
  -o-transform: translateX(16px);
} */

.info hr {
  margin: auto 4px;
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #fff;
}
.info .divider{
  display: inline-flex;
  /* margin-bottom: 2px; */
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

@media only screen and (max-width: 500px) {
  .info small {
    font-size: 12px;
  }
}

.background {
  position: relative;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}
.background::after {
  content: "";
  border-radius: var(--radius);
  position: absolute;
  width: 100%;
  max-width: 900px;
  margin: auto;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, .4);
}

.current {
  box-shadow: var(--box-shadow);
  z-index: 20;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.prev {
  z-index: 10;
  opacity: 0.8;
  transform: translateX(-40px) scale(0.9);
  -webkit-transform: translateX(-40px) scale(0.9);
  -moz-transform: translateX(-40px) scale(0.9);
  -ms-transform: translateX(-40px) scale(0.9);
  -o-transform: translateX(-40px) scale(0.9);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.next {
  z-index: 10;
  opacity: 0.8;
  transform: translateX(40px) scale(0.9);
  -webkit-transform: translateX(40px) scale(0.9);
  -moz-transform: translateX(40px) scale(0.9);
  -ms-transform: translateX(40px) scale(0.9);
  -o-transform: translateX(40px) scale(0.9);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.prev2 {
  z-index: 5;
  opacity: 0.7;
  transform: translateX(-80px) scale(0.8);
  -webkit-transform: translateX(-80px) scale(0.8);
  -moz-transform: translateX(-80px) scale(0.8);
  -ms-transform: translateX(-80px) scale(0.8);
  -o-transform: translateX(-80px) scale(0.8);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.next2 {
  z-index: 5;
  opacity: 0.7;
  transform: translateX(80px) scale(0.8);
  -webkit-transform: translateX(80px) scale(0.8);
  -moz-transform: translateX(80px) scale(0.8);
  -ms-transform: translateX(80px) scale(0.8);
  -o-transform: translateX(80px) scale(0.8);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

@media only screen and (min-width: 768px) {
  .prev {
    transform: translateX(-80px) scale(0.9);
    -webkit-transform: translateX(-80px) scale(0.9);
    -moz-transform: translateX(-80px) scale(0.9);
    -ms-transform: translateX(-80px) scale(0.9);
    -o-transform: translateX(-80px) scale(0.9);
  }
  .next {
    transform: translateX(80px) scale(0.9);
    -webkit-transform: translateX(80px) scale(0.9);
    -moz-transform: translateX(80px) scale(0.9);
    -ms-transform: translateX(80px) scale(0.9);
    -o-transform: translateX(80px) scale(0.9);
  }
  .prev2 {
    transform: translateX(-140px) scale(0.8);
    -webkit-transform: translateX(-140px) scale(0.8);
    -moz-transform: translateX(-140px) scale(0.8);
    -ms-transform: translateX(-140px) scale(0.8);
    -o-transform: translateX(-140px) scale(0.8);
  }
  .next2 {
    transform: translateX(140px) scale(0.8);
    -webkit-transform: translateX(140px) scale(0.8);
    -moz-transform: translateX(140px) scale(0.8);
    -ms-transform: translateX(140px) scale(0.8);
    -o-transform: translateX(140px) scale(0.8);
  }
}
@media only screen and (min-width: 1024px) {
  .prev {
    transform: translateX(-90px) scale(0.9);
    -webkit-transform: translateX(-90px) scale(0.9);
    -moz-transform: translateX(-90px) scale(0.9);
    -ms-transform: translateX(-90px) scale(0.9);
    -o-transform: translateX(-90px) scale(0.9);
  }
  .next {
    transform: translateX(90px) scale(0.9);
    -webkit-transform: translateX(90px) scale(0.9);
    -moz-transform: translateX(90px) scale(0.9);
    -ms-transform: translateX(90px) scale(0.9);
    -o-transform: translateX(80px) scale(0.9);
  }
  .prev2 {
    transform: translateX(-160px) scale(0.8);
    -webkit-transform: translateX(-160px) scale(0.8);
    -moz-transform: translateX(-160px) scale(0.8);
    -ms-transform: translateX(-160px) scale(0.8);
    -o-transform: translateX(-160px) scale(0.8);
  }
  .next2 {
    transform: translateX(160px) scale(0.8);
    -webkit-transform: translateX(160px) scale(0.8);
    -moz-transform: translateX(160px) scale(0.8);
    -ms-transform: translateX(160px) scale(0.8);
    -o-transform: translateX(160px) scale(0.8);
  }
}
