.container{
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    width: 100%;
    max-width: 380px;
    min-height: 150px;
    max-height:170px;
}
.container img{
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.container:hover img{ transform:scale(1.02) ; -webkit-transform:scale(1.02) ; -moz-transform:scale(1.02) ; -ms-transform:scale(1.02) ; -o-transform:scale(1.02) ;
}

.trash{
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.trash:hover svg{
    animation:rotate .3s linear;
    -webkit-animation:rotate .3s linear;
}

@keyframes rotate {
    0%{
        transform: rotate(-65deg);
        -webkit-transform: rotate(-65deg);
        -moz-transform: rotate(-65deg);
        -ms-transform: rotate(-65deg);
        -o-transform: rotate(-65deg);
}
    100%{
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
}
}

.container p{
    font-size: 14px;
    font-weight: 500;
}

@media only screen and (min-width:320px) {
    .container p{
        font-size: 16px;
    }
    .container small{
        font-size: 14px;
    }
    .container{
        width: 100%;
    }
    
    
}
@media (min-width: 480px) {
    .container{
        max-width: 90%;
    }
}
@media (min-width: 640px) {
    .container {
        width: 48%;
        max-width: 100%;
        min-height: 165px;

    }
}
@media (min-width: 1024px) {
    .container {
        width: 46%;        
        max-width: 500px;

    }
}
@media (min-width: 1280px) {
    .container {
        width: 32%;
    }
}