.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
  overflow: hidden;
  /* max-width: 500px; */
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
  height: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
  height: 100%;
  border-radius: 8px;
}
.div3 {
  grid-area: 2 / 3 / 3 / 4;
  height: 100%;
  border-radius: 8px;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
  height: 100%;
  border-radius: 8px;
}
.div5 {
  grid-area: 2 / 4 / 3 / 5;
  height: 100%;
  border-radius: 8px;
}
.div6 {
  grid-area: 1 / 5 / 2 / 6;
  height: 100%;
  border-radius: 8px;
}
.div7 {
  grid-area: 2 / 5 / 3 / 6;
  height: 100%;
  border-radius: 8px;
}
@media only screen and (min-width: 340px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    width: 100%;
    overflow: hidden;
  }}
@media only screen and (min-width: 480px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    width: 100%;
    overflow: hidden;
    max-width: 500px;
  }
  .div1 {
    grid-area: 1 / 1 / 3 / 3;
    height: 100%;
    border-radius: 8px;
  }
  .div2 {
    grid-area: 1 / 3 / 2 / 4;
    height: 100%;
    border-radius: 8px;
  }
  .div3 {
    grid-area: 2 / 3 / 3 / 4;
    height: 100%;
    border-radius: 8px;
  }
  .div4 {
    grid-area: 1 / 4 / 2 / 5;
    height: 100%;
    border-radius: 8px;
  }
  .div5 {
    grid-area: 2 / 4 / 3 / 5;
    height: 100%;
    border-radius: 8px;
  }
  .div6 {
    grid-area: 1 / 5 / 2 / 6;
    height: 100%;
    border-radius: 8px;
  }
  .div7 {
    grid-area: 2 / 5 / 3 / 6;
    height: 100%;
    border-radius: 8px;
  }
}
@media only screen and (min-width: 1024px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    width: 100%;
    overflow: hidden;
    max-width: 800px;

  }

  .div1 {
    grid-area: 1 / 1 / 3 / 3;
    height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .div2 {
    grid-area: 1 / 3 / 2 / 4;
    height: 100%;
    border-radius: 8px;
  }
  .div3 {
    grid-area: 2 / 3 / 3 / 4;
    height: 100%;
    border-radius: 8px;
  }
  .div4 {
    grid-area: 1 / 4 / 2 / 5;
    height: 100%;
    border-radius: 8px;
  }
  .div5 {
    grid-area: 2 / 4 / 3 / 5;
    height: 100%;
    border-radius: 8px;
  }
  .div6 {
    grid-area: 1 / 5 / 2 / 6;
    height: 100%;
    border-radius: 8px;
  }
  .div7 {
    grid-area: 2 / 5 / 3 / 6;
    height: 100%;
    border-radius: 8px;
  }
  .div8 {
    grid-area: 1 / 6 / 2 / 7;
    height: 100%;
    border-radius: 8px;
  }
  .div9 {
    grid-area: 2 / 6 / 3 / 7;
    height: 100%;
    border-radius: 8px;
  }
}
